<h1>Title: <%= @article.title %></h1>
<h3>Article: <%= @article.content %></h3>

<form method='post' action='/articles/<%=@article.id%>'>
<input id="hidden" type="hidden" name="_method" value="DELETE" />
<input type="submit" value="Delete" />
</form>